fastapi
uvicorn
python-multipart
python-dotenv
email-validator
anthropic
google-generativeai

google-cloud-speech
google-cloud-texttospeech
psycopg[binary]
psycopg_pool
pytest
pytest-asyncio
httpx
websockets
redis
